*{
background-color:;
color:;
font-family:"helvetica";

}
header{
background-color:#0030ff;
text-size:50px;
}
body{
background-color:orange;
margin:0px;
}
footer{
background-color:#0030ff;
}
h1{
magrin:0px;
font-size:-webkit-xxx-large;
}
h3{
text-align:;
}
hr{
background-color:orange;
border-color:#0030ff;
height:2px;
margin-bottom:7px;
margin-right:auto;
margin-left:auto;
margin-top:9px;
border-width:4px;
}
hr.mini{
width:75%;
}
.headimage{
height:150px;
width:337.5px;
margin-top:50px;
}
.sitename{
text-size:15px;
text-style:bold;
}
img{
height:100px;
width:100px;
}
.story{
background-color:orange;
border-color:#0030ff;
border:10px solid #0030ff;
height:100px;
width:100px

}